validIdElement allows empty id

`ElementValidator::validIdElement()` successfully validates IRI/URI's per RFC 3986 & RFC 3987 however, RFC 4287 does not permit empty string for `atom:id:element` values